@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffc107;
  --secondary: #3498db;
  --accent: #ff5722;
  --background: #fffbe6;
  --text: #172554;
}

body {
  color: var(--text);
  background: var(--background);
  cursor: url(/images/small-bee.png) 16 16, auto;
}

button, 
.btn,
a[role="button"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md transition duration-300;
  }
  .btn-primary {
    @apply bg-[#FFC107] text-[#333333] hover:bg-[#e6ac00];
  }
  .btn-secondary {
    @apply bg-[#3498db] text-white hover:bg-[#2980b9];
  }
}

